{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="homea">ABOUT US</h1>
 <div class="home" id="contacta">
            <p>Nimbus Digital News is a collection of innovative and powerful 
                news brands that deliver compelling, diverse and visually 
                engaging stories on your platform of choice. Nimbus Digital 
                News features world-class brands including NBCNews.com, 
                MSNBC.com, TODAY.com, Nightly News, Meet the Press, Dateline, 
                and the existing apps and digital extensions of these respective 
                properties. We provide something for every news consumer with our 
                comprehensive offerings that deliver the best in breaking news, 
                segments from your favorite NBC News shows, live video coverage, 
                original journalism, lifestyle features, commentary and local 
                updates.</p>

              <p>CLOSED CAPTIONING</p>

              <p>Nimbus Digital News is pleased to offer closed captioning on 
                 long-form content and certain other content that it makes 
                 available on television and online via websites and apps on 
                 mobile devices. To report an issue or concern regarding closed 
                 captioning on NBC News programs viewed on television or online, 
                 please contact us at NimbusDigitalNews.com or 1-999-999-9000.</p>
                <p>
                   <img class="center" border="0" alt="W3Schools" src="/bundles/app/images/NDlogo.png" width="100" height="100">
                </p>
	</div>
  
{% endblock %}
