{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        <!-- Banner -->
	<section id="banner">
	   <div class="inner">
	      <h1>NIMBUS DIGITAL<span><br />
		 “Coverage You Can Count On”</span></h1>
	   </div>
	</section>
  <div class="homea">
      <h1>Lastest News</h1>
  </div>
    <div class="home">
        {%  for new in news %}
            <h2>{{ new }}</h2>
                <p> {{ new.article | slice(0, 200) }}...</p>
                <p> {{ new.date | date('m-d-y') }}</p>
                <p> {{ new.category }}</p>
        {% endfor %}
      </div>
    </div>
{% endblock %}

{% block stylesheets %}
	
{% endblock %}
