{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="homea">
        <h1>Nimbus Digital</h1>
        </div>
    <div class="home">
        {%  for new in news %}
            <h2>{{ new }}</h2>
                <p> {{ new.article | slice(0, 100) }}...</p>
                <p> {{ new.date | date('m-d-y') }}</p>
                <p> {{ new.category }}</p>
        {% endfor %}
      </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
