{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {%  for new in news %}
            <li>{{ new }}</li>
            <ul>
                <li> {{ new.article | slice(0, 100) }}...</li>
                <li> {{ new.date | date('m-d-y') }}</li>
                <li> {{ new.category }}</li>
            </ul>
        {% endfor %}
    </ul>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
