{% extends 'base.html.twig' %}

    {% block body %}
        <!-- add nav here -->
      
      <h1 class="homea">NEWS</h1>
        <div id="contacta"
             <h1>{%  for new in news %}</h1>
                <h2>{{ new }}</h2>
                    <p>{{ new.article }}</p>
                    <p> {{ new.date | date('m-d-y') }}</p>
                    <p> {{ new.category }} </p>
                    <hr>
            {% endfor %}
                <a style="color:black;" href="/admin/news/new">Create New Article</a> 
      </div>
                  </div>
  
    {% endblock %}
        